<script>
  window.gameName = "<= @name %>";
</script>

<div class="row">
  <div class="column">
  <h1 align="center">Memory: [<%= @name %>]</h1>
    <div id="root">
      <p>React not loaded...</p>
    </div>
  </div>
</div>
