<div class="row">
  <div class="column">
    <h1 align="center" id="index-page">Join a Game</h1>
    <%= form_for @conn, Routes.page_path(@conn, :index), [as: :params], fn f -> %>
    <div class="row">
      <%= text_input f, :name %>
      <%= submit "Join" %>
      </div>
    <% end %>
  </div>
</div>
