<div class="row">
  <div class="column">
    <h1 align="center" id="index-page">Join a Game</h1>
    <%= form_for @conn, "/game", fn f -> %>
    <div class="row">
      <div class="column column-50">
        <%= text_input f, :game %>
      </div>
      <button type="submit" class="black-button">Join</button>
    </div>
    <% end %>
</div>
