<div class="column">
    <h1 align="center" id="index-page">Join a Game</h1>
    <%= form_for @conn, Routes.page_path(@conn, :index), [as: :params], fn f -> %>
    <div class="row">
      <div class="column column-50">
        <%= text_input f, :name %>
      </div>
        <%= submit "Join" %>
    </div>
    <% end %>
</div>
